.margin_top_content {
    margin-top: 100px;
}

.navbar_posission_fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: visible; 
    z-index: 99999;
}

.post_body_less {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 110px;
     /* width: 350px; */
    display:inline-block;
}

.margin_bottom_for_home_4 {
    margin-bottom: -4%;
}

.nav-color {
    background-color: #f4f1ea;
}

#introblocks > article{display:inline-block; width:100%; max-width:320px; text-align:left;}
#introblocks > article > div{padding:30px 20px;}
#introblocks > article > div *{margin:0; padding:0;}
#introblocks > article > div .heading{margin-bottom:10px; font-size:1.2rem;}
#introblocks > article footer{border-top:1px solid;}
#introblocks > article footer a{display:block; position:relative; width:100%; height:39px; line-height:39px; padding:0 20px; text-transform:uppercase;}
#introblocks > article footer a::after{position:absolute; top:0; right:0; height:100%; padding:0 15px; font-family:"FontAwesome"; content:"\f105"; border-left:1px solid;}

/* Content Area */
#introblocks > article{color:#474747; background-color:#FFFFFF;}
#introblocks > article footer, #introblocks > article footer a::after{border-color:#D7D7D7;}

.description_area_less {
    
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    display:inline-block;
}